<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    
    <link rel="stylesheet" href="styles.css"/>

  </head> 


  <body>
    <header>
		Tables
	</header>
	<p> 
    <a href="home.html">Home</a> | <a href="referee.html">Referees</a> | <a href="games.html">Games</a> | <a href="assignment.html">Assignments</a> | <a href="assigned.html">Assigned</a>
    </p>
    <main>
      <div id="gamelist" class="container">
        <div class="row align-items-start">
          <table id="gametable" class="row table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th>Game ID</th>	
                <th>Field</th>	
                <th>DateTime</th>
              </tr>
            </thead>

      <tbody>
        <tr v-for="game in game">
          <td>{{ game.gameid }}</td>
          <td>{{ game.field }}</td>	
          <td>{{ game.gametime }}</td>
        </tr>
      </tbody>
    </table><br>

    <form v-on:submit.prevent="postNewGame"><!--index.js-->
      <div class="mb-3">
        <!--every input needs to have a label, label tag makes it clickable-->
        <label for="gameid" class="form-label">Game ID</label>
        <input type="text" class="form-control" id="gameid" v-model="gameForm.gameid"> <!--vmodel enable the two way bind-->
      </div>
      <div class="mb-3">
        <label for="field" class="form-label">Field</label>
        <!--type adds constrains for the input-->
        <input type="text" class="form-control" v-model="gameForm.field" id="field">
      </div>
      <div class="mb-3">
        <label for="gametime" class="form-label">DateTime</label>
        <input type="text" v-model="gameForm.gametime" class="form-control" id="gametime">
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
    </main>

   <!-- <script>
      new Tablesort(document.getElementById('refereetable'));
    </script> -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <script src="js/game.js"></script>  


  </body>
</html>